@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif;
    --color-primary: #c56216;
    --color-primary-dark: #a85212;
}

@layer base {
    body {
        @apply font-sans bg-black text-white antialiased;
    }
}
